<link rel="import" href="<%= packageDir %>polymer/polymer.html">

<dom-module id="<%= name %>">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]</h2>
  </template>

  <script>
    customElements.define('<%= name %>', class extends Polymer.Element {
      static get is() { return '<%= name %>'; }
      static get config() {
        return {
          properties: {
            prop1: {
              type: String,
              value: '<%= name %>'
            }
          }
        };
      }
    });
  </script>
</dom-module>
